.footer {
    // .footer__top
    &__top {
        padding-top: 23px;
        padding-bottom: 19px;
        background-color: $md_grey;
    }
    // .footer__container
    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: $gap;
        @media (max-width: 1340px) {
            grid-template-columns: repeat(9, 1fr);
        }
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: unset;
        }
    }
    // .footer__logo-block
    &__logo-block {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            margin-bottom: 24px;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }
        @media (max-width: 640px) {
            margin-bottom: 24px;
            flex-direction: column;
            align-items: center;
        }
    }
    
    // .footer__logo
    &__logo {
        margin-bottom: 31px;
        width: 187px;
        @media (max-width: 768px) {
            margin-bottom: 0;
            margin-right: auto;
        }
        @media (max-width: 640px) {
            margin-right: 0;
            margin-bottom: 25px;
        }
    }
    // .footer__social
    &__social {
    }
    // .footer__nav
    &__nav {
    }
    // .footer__copyright
    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 0;
        font-size: 14px;
        line-height: 19px;
        color: $grey;
        & span:nth-child(1) {
            padding-right: 12px;
        }
    }
}
.footer-top {
}
.social {
    // .social__item
    &__item {
    }
    // .social__link
    &__link {
        position: relative;
        z-index: 5;
        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            top: -3px;
            left: -3px;
            bottom: -3px;
            right: -3px;
            transition: background-color ease-in-out 0.3s;
        }
        &:focus::after {
            background-color: $primary_light;
        }
        &:hover {
            color: $primary;
        }
        &:active {
            color: $primary_shade;
        }
    }
    // .social__icon
    &__icon {
    }
}
.nav-footer {
    grid-column: 5 / span 8;
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 32px 112px;
    padding-top: 4px;
    @media (max-width: 1340px) {
        grid-column: span 7;
        gap: 76px;
    }
    @media (max-width: 1025px) {
        gap: 39px;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
    @media (max-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 16px;
    }
    &__header {
        font-size: 16px;
        line-height: 100%;
    }
    // .nav-footer__submenu
    &__submenu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        & .submenu__item {
            margin-right: 0;
            padding: 4px 0;
        }
    }
}