.header {
    position: relative;
    z-index: 10;
    padding-bottom: 23px;
    // .header__nav
    &__nav {
    }
    // .header__menu
    &__menu {
    }
    // .header__container
    &__container {
    }
    // .header__wrapper
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 11px;
        padding-bottom: 11px;
        width: 100%;
    }
    // .header__logo
    &__logo {
        margin-right: auto;
        transform: translateY(-2px);
    }
    // .header__search
    &__search {
    }
}
.nav {
    // .nav__top
    &__top {
        display: flex;
        background-color: $grey_light;
    }
    // .nav__main
    &__main {
        @include flex-v-center;
        padding-top: 33px;
        padding-bottom: 31px;
        justify-content: flex-end;
        font-size: 16px;
    }
    // .nav__bottom
    &__bottom {
        @include flex-v-center;
        justify-content: flex-end;
        & .choices {
            @include flex-all-center;
            @include choice-arrow;

            // z-index: 10;
            margin-right: auto;
            margin-bottom: 0;
            width: 300px;
            height: 60px;
            background: $white;
            border: 2px solid $grey_light;
            border-radius: 0px 10px 10px 0px;
            transition-property: border-color, background-color;
            transition-timing-function: ease-in-out;
            transition-duration: 0.3s;
           
            &.is-focused.focus-visible {
                border-color: $primary;
                background-color: $pink_light;
            }
            &:hover {
                border-color: $primary;
            }
            // Это не срабатывает - не понятно как сдлеать active на селекте
            &:active {
                border-color: $primary_shade;
            }
            &.is-open {
                border-color: $grey_light;
            }
        
            &.is-open .choices__list--dropdown {
                opacity: 1;
            }
            // &::after {
            //     height: 8px;
            //     width: 13px;
            //     border: none;
            //     right: 30.5px;
            //     // margin-top: 0;
            //     transform: translateY(-20%);
            //     background-size: cover;
            //     background-repeat: no-repeat;
            //     background-position: center;
            //     background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.65674 5.80521L11.5593 0.902607L12.3136 1.65685L6.65674 7.31371L0.999884 1.65685L1.75413 0.902607L6.65674 5.80521Z' fill='%23A65CF0'/%3E%3C/svg%3E%0A");
            //     transition: transform ease-in-out 0.3s;
            // }
            // &.is-open::after{
            //     transform: rotate(180deg);
            // }
            &__inner {
                display: inline-flex;
                align-items: center;
                padding: 2px 21px !important;
                border: none;
                min-height: unset;
                background-color: transparent;
            }
            &__list--dropdown {
                z-index: -1;
                left: -2px;
                right: -2px;
                width: auto;
                margin-top: 2px;
                margin-top: -10px;
                padding: 30px 30px 22px;
                border: 2px solid $grey_light;
                border-top-color: transparent;
                border-radius: 0 0 10px 10px;
                opacity: 0;
                transition: visibility ease-in-out 0.3s;
                transition-property: visibility, opacity;
                transition-timing-function: ease-in-out;
                transition-duration: 0.3s;
                &::before {
                    content: "";
                    position: absolute;
                    margin: -10px;
                    left: -1px;
                    right: -1px;
                    bottom: 0;
                    border: 2px solid red;
                }
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
            }
            &__item {
                padding: 5px 5px;
                width: 50%;
                font-family: 'OpenSans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 130%;
                color: $primary;
                opacity: 1;
            }
        }

    }
}
.region {
    @include flex-v-center;
    margin-right: 1.7vw;
    position: relative;
    // .region__label
    &__label {
        font-size: 16px;
        line-height: 120%;
    }
    // .region__select
    & .choices {
        margin-bottom: 0;
        min-width: 78px;
        border:none;
        color: $primary;
        &::after {
            display: none;
            visibility: hidden;
        }
        &.is-focused.focus-visible .choices__list--single {
            background-color: $pink_violet;
            color: $black;
        }
        &__list--single {
            transition: color ease-in-out 0.3s;
        }
        &:hover .choices__list--single, &:hover~.region__select-arrow {
            color: $primary_light;
        }
        // Это не срабатывает - не понятно как сдлеать active на селекте
        &:active .choices__list--single, &:active~.region__select-arrow {
            color: $primary_shade;
        }
        &.is-open~.region__select-arrow {
            color:$primary;
            transform: rotate(180deg) translateY(1px);
        }
        &.is-open .choices__list--single {
            color: $primary;
        }
        &.is-open .choices__list--dropdown {
            opacity: 1;
        }
        &__inner {
            padding: 2px;
            padding-bottom: 0 !important;
            min-height: 20px;
            background-color: transparent;
            border:none;
        }
        &__list--dropdown {
            border: 2px solid $grey_light;
            opacity: 0;
            transition-property: opacity, visibility;
            transition-timing-function: ease-in-out;
            transition-duration: 0.3s;
        }
        &__item {
            padding-right: 0;
            font-family: 'OpenSans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            opacity: 1;
            &--choice{
                    color: $black;
                    font-size: 14px;
                    line-height: 130%;
            }
        }
    }
    &__select-arrow {
        position: absolute;
        z-index: 10;
        top: 50%;
        right: 2px;
        height: 8px;
        width: 13px;
        color: $primary;
        pointer-events: none;
        transform: translateY(-1px);
        transition-property: transform, color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
    }
}
.call {
    @include flex-v-center;
    position: relative;
    // .call_accent
    &_accent {
        color: $secondary;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            z-index: 4;
            top: 0;
            left: -10px;
            bottom: 0;
            right: -10px;
            background-color: $bone;
            opacity: 0;
            transition: opacity ease-in-out 0.3s;
        }
        & span {
            position: relative;
            z-index: 5;
        }
        &:focus.focus-visible {
            color: $secondary_light;
        }
        &:hover {
            color: $secondary;
            &::after {
                opacity: 1;
            }
        }
        &:active {
            color: $secondary_shade;
            &::after {
                opacity: 0;
            }
        }
    }
    & svg {
        position: relative;
        z-index: 5;
        width: 17px;
        height: 17px;
    }
}
.menu {
    @include flex-v-center;
    // .menu__item
    &__item {
        position: relative;
        padding: 5px 2px;
        transition: color ease-in-out 0.3s;
    
    }
    &__item:not(:last-child) {
        margin-right: 4.58vw;
    }
    // .menu__link
    &__link {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            z-index: 4;
            top: 0;
            left: -10px;
            bottom: 0;
            right: -10px;
            background-color: $pink_violet;
            opacity: 0;
            transition: opacity ease-in-out 0.3s;
        }
        & span {
            position: relative;
            z-index: 5;
        }
        &:hover {
            color: $primary;
        }
        &:focus.focus-visible {
            color: $black;
            &::after {
                opacity: 1;
            }
        }
        &:active {
            color: $primary_shade;
            &::after {
                opacity: 0;
            }
        }
    }
}
.container {
}
.search {
    @include flex-v-center;
    flex-direction: row-reverse;

    position: relative;
    width: calc(100% - 519px);
    // .search__button
    &__button {
        position: absolute;
        z-index: 10;
        right: 32px;
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 33px;
        width: 20px;
        height: 20px;
        color: $grey;
        transform: translateY(-50%);
    }
    // .search__input
    &__input {
        padding: 15px 57px;
        background: $grey_light;
        border: 2px solid $grey_light;
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        min-height: 60px;
        font-size: 16px;
        line-height: 120%;
        color: $black;
        transition-property: background-color, color, border-color;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
        &::placeholder {
            color: $grey;
        }
        &:hover {
            background-color: $md_grey;
        }
        &:focus.focus-visible {
            border-color: $primary;
            background-color: $pink_light;
        }
        &:active {
            border-color: $grey_light;
            background-color: $grey_light;
            &~.search__icon{
                color: $primary;
            }
        }
    }

}

.account {
    @include flex-all-center;
    @include icon-hover;


    margin-right: 20px;
    color: $primary;
    
    & svg {
        color: inherit;
        margin: 4px;
        width: 26px;
        height: 28px;
    }
}
.cart {
    @include flex-v-center;
    @include icon-hover;

    justify-content: flex-end;
    position: relative;
    // width: 49px;
    // height: 34px;
    color: $primary;
    &__counter {
        @include flex-all-center;

        position: absolute;
        top: 7px;
        left: 7px;
        min-width: 15px;
        padding: 0 2px;
        aspect-ratio: 1;
        border-radius: 50%;
        font-weight: 700;
        font-size: 10px;
        line-height: 100%;
        background-color: $secondary;
        color: $white;
    }
    & svg {
        margin: 3px 2px 3px 19px;
        width: 30px;
        height: 28px;
        color: inherit;
    }
}

.top-nav {
    &__call {
        margin-right: auto;
    }
}

.submenu {
    @include flex-v-center;
    color: $grey;
    // .submenu__item
    &__item {
        padding: 5px 0;
        position: relative;
    }
    &__item:not(:last-child) {
        margin-right: 3.4vw;
    }
    // .submenu__link
    &__link {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            z-index: 4;
            top: 0;
            left: -10px;
            bottom: 0;
            right: -10px;
            background-color: $pink_violet;
            opacity: 0;
            transition: opacity ease-in-out 0.3s;
        }
        & span {
            position: relative;
            z-index: 5;
        }
        &:hover {
            color: $primary;
        }
        &:focus.focus-visible {
            color: $primary_shade;
            &::after {
                opacity: 1;
            }
        }
        &:active {
            color: $primary_shade;
            &::after {
                opacity: 0;
            }
        }
    }
}

.js-focus-visible .menu__link:focus:not(.focus-visible) {
    color: $primary_shade;
            &::after {
                opacity: 0;
            }
}
