.special {
    margin-bottom: 70px;
    @media (max-width: 510px) {
        margin-bottom: 117px;
    }
    // .special__heading
    &__heading {
    }
    // .special__slider
    &__slider {
    }
}

.slider-special {
    padding-top: 25px;
    position: relative;
    // .slider-special__body
    &__body {
        display: flex;
        align-items: stretch;
    }
}
.slide-special {
    // @include flex-all-center;
    width: calc((100% - 32px * 3) / 4 ) !important;
    // position: relative;
    // width: $unit-width !important;
    height: auto;
    min-height: 511px;
    @media (max-width: 1024px) {
        width: calc((100% - 32px * 2) / 3 ) !important;
        // width: $unit-width !important;
    }
    @media (max-width: 800px) {
        width: calc((100% - 32px * 1) / 2 ) !important;
        // width: $unit-width !important;
    }
    @media (max-width: 640px) {
        width: 100% !important;
    }
    &:not(:last-child) {
        margin-right: 32px;
    }
    &_middle {
        width: calc(((100% - 32px * 3) / 4 ) * 2 + 32px) !important;
        @media (max-width: 1024px) {
            // width: calc((100% - 32px * 2) / 3 ) !important;
        }
        @media (max-width: 800px) {
            // width: calc((100% - 32px * 1) / 2 ) !important;
        }
    }
    // .slide-special__control
    &__control {
    }
}
.controls-slider-special {
    // .controls-slider-special__bullets
    &__arrows {
        position: absolute;
        top: -33px;
        right: 0;
        width: 77px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 640px) {
            top: calc(100% + $gap /2);
            right: 50%;
            transform: translatex(50%);
        }
    }
}
.swiper-container {
}
.swiper-wrapper {
    align-items: stretch;
}
.swiper-slide {
}
.btn {
    // .btn_light
    &_light {
    }
}

// .discount

// .discount {
//     position: absolute;
//     left: 0px;
//     top: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 0 15px;
//     min-height: 34px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 19px;
//     // text-align: center;
//     color: $white;
//     background-color: $secondary;
//     &:after {
//         content: "";
//         position: absolute;
//         height: 0;
//         width: 0;
//         right: -10px;
//         border-top: 17px solid transparent;
//         border-bottom: 17.5px solid transparent;
//         border-left: 10px solid $secondary;
//     }
// }

