.hero {
    position: relative;
    margin-bottom: 70px;
    padding-top: 9px;
    color: $white;
    // .hero__slider
    &__slider {
    }
}
.slider-hero {
    // height: 400px;
    position: relative;
    @media (max-width: 510px) {
        margin-bottom: $gap;
        height: 210px;
    }
    // .slider-hero__body
    &__body {
    }
    // .slider-hero__slide
    &__slide {
        height: auto;
    }
    &__control {
        position: absolute;
        z-index: 5;
        left: 50%;
        bottom: 5%;
        transform: translateX(-50%);
    }
}
.slide-hero {
    padding-top: 80px;
    padding-bottom: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: 510px) {
        padding-top: 29px;
        padding-bottom: 125px;
        
    }
    &_1 {
        background-image: url("../img/hero/hero-bg-1.jpg");
        @media (max-width: 1024px) {
            background-image: url("../img/hero/hero-bg-1-1024.jpg");
        }
        @media (max-width: 768px) {
            background-image: url("../img/hero/hero-bg-1-768.jpg");
        }
        @media (max-width: 510px) {
            background-image: url("../img/hero/hero-bg-1-320.jpg");
        }
    }
    &_2 {
        background-image: url("../img/hero/hero-bg-2.jpg");
        @media (max-width: 1024px) {
            background-image: url("../img/hero/hero-bg-2-1024.jpg");
        }
        @media (max-width: 768px) {
            background-image: url("../img/hero/hero-bg-2-768.jpg");
        }
        @media (max-width: 510px) {
            background-image: url("../img/hero/hero-bg-2-320.jpg");
        }
    }
    &_3 {
        background-image: url("../img/hero/hero-bg-3.jpg");
        @media (max-width: 1024px) {
            background-image: url("../img/hero/hero-bg-3-1024.jpg");
        }
        @media (max-width: 768px) {
            background-image: url("../img/hero/hero-bg-3-768.jpg");
        }
        @media (max-width: 510px) {
            background-image: url("../img/hero/hero-bg-3-320.jpg");
        }
    }
    &_no-data {
        background-image: url("../img/hero/no_data.png");
        @media (max-width: 1024px) {
            background-image: url("../img/hero/no_data-1024.png");
        }
        @media (max-width: 768px) {
            background-image: url("../img/hero/no_data-768.png");
        }
        @media (max-width: 510px) {
            background-image: url("../img/hero/no_data-320.png");
        }
    }
    &__body {
    }
    // .slide-hero__image
    &__image {
        height: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    // .slide-hero__info
    &__info {
        // position: absolute;
        // top: 20%;
        // bottom: 0;
        // left: calc((100vw - $container-max-width) / 2);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        max-width: 561px;
        min-height: 240px;
        color: $white;
        @media (max-width: 1024px) {
            width: calc(549px * 100% / 1024px);
        }
        @media (max-width: 768px) {
            width: calc(549px * 100% / 569px);
        }
        @media (max-width: 510px) {
            padding-left: 19px;
            min-height: unset;
            width: 75%;
        }
        &_wide {
            @media (max-width: 1024px) {
                width: calc(600px * 100% / 1024px);
            }
            @media (max-width: 510px) {
                width: 85%;
            }
        }
    }
    // .slide-hero__title
    &__title {
        margin-bottom: auto;
        padding-bottom: 32px;
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
        color: $grey;
        &_light {
            color: $white
        }
        @media (max-width: 510px) {
            font-size: 20px;
            line-height: 27px;
            padding-bottom: 0;
        }
    }
    // .slide-hero__btn
    &__btn {
        @media (max-width: 510px) {
            display: none;
        }
        &_main {
            display: none;
            visibility: hidden;
            @media (max-width: 510px) {
                display: block;
                visibility: visible;
            }
        }
    }
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slide {
}

.slide-hero {
    // .slide-hero__control
    &__control {
    }
}
.controls-slider-hero {
    // .controls-slider-hero__bullets
    &__bullets {
        --loader-width: 10px;
        --loader-timing: 10s;
        --loader-ring-width: 4px;
        --loader-main-color: #fff;
        --loader-active-color: #FF862F;
        position: relative;
        bottom: 0 !important;
        left: 0 !important;
        z-index: 100;
        display: grid;
        gap: 10px;
        grid-auto-flow: column;
        max-width: 50%;
        & .swiper-pagination-bullet {
            // flex: 0 0 var(--loader-width);
            margin: 0 !important;
            margin-right: var(--loader-width) !important;
            box-sizing: border-box;
            position: relative;
            width: var(--loader-width);
            height: auto;
            aspect-ratio: 1 / 2;
            border: var(--loader-ring-width) solid var(--loader-active-color);
            border-right: none;
            border-radius: 100% 0 0 100% / 50% 50% 50% 50%; 
            transform-origin: 100% 50%; 
                // &.active {
                //     animation: loader-spinner var(--loader-timing) steps(1,end) 1;
                // }
                &::before, &::after {
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: calc(-1 * var(--loader-ring-width));
                width: calc(100% + var(--loader-ring-width));
                height: calc(100% + 2 * var(--loader-ring-width));
                border: var(--loader-ring-width) solid var(--loader-active-color);
                }
                &::before {
                z-index: 5;
                right: calc(-100% - var(--loader-ring-width));
                border-left: none;
                border-radius: 0 100% 100% 0 / 0 50% 50% 0; 
                transform-origin: 0% 50%;
                // &.active {
                //     animation: loader-mask var(--loader-timing) steps(1,end) 1;
                // }
                }
                &::after {
                z-index: -1;
                right: 0;
                border-radius: 100% 0 0 100% / 50% 0 0 50%;
                border-right: none;
                transform-origin: 100% 50%;
                // &.active {
                //     animation: loader-rotation var(--loader-timing) linear 1;  
                // }
                }
        }
        & .swiper-pagination-bullet-active {
            animation: loader-spinner var(--loader-timing) steps(1,end) 1;
            &::before {
                animation: loader-mask var(--loader-timing) steps(1,end) 1;
            }
            &::after {
                animation: loader-rotation var(--loader-timing) linear 1;  
            }

        }
    }
}

@keyframes loader-spinner {
    0% {border-color: var(--loader-main-color)}
}
@keyframes loader-rotation {
0% {z-index: -1;transform: rotate(0deg);}
50% {z-index: -1;transform: rotate(180deg);}
100% {z-index: 5;transform: rotate(360deg);}
}
@keyframes loader-mask {
0% {z-index: -1; border-color: var(--loader-main-color)}
50% {z-index: -1; border-color: var(--loader-active-color)}
100% {z-index: 5; border-color: var(--loader-active-color)}
}



