@import "css_components/_var.scss";
@import "css_components/_mixins.scss";

.container {
  max-width: calc($container-max-width + 30px);
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1340px) {
    max-width: 100%;
    padding: 0 36px;
  }
  @media (max-width: 768px) {
    padding: 0 72px;
  }
  @media (max-width: 510px) {
    padding: 0 12px;
  }
}


.section-offset {
  padding: 30px 0 49px;
  @media (min-width:1920px) {
    padding-top: 36px;
  }
  @media (min-width:1024px) {
    padding: 34px 0 34px;
  }
  @media (min-width:510px) {
    padding: 34px 0 34px;
  }
}


.btn {
  @include btn_reset;

  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 20px 48px;
  &_primary {
    color: $white;
    background-color: $primary;
    transition-property: border-color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    &:focus:focus-visible {
      background-color: $primary_light;
      border-color: $primary_shade;
    }
    &:hover{
      background-color: $primary_light;
      border-color: $primary_light;
    }
    &:active{
      background-color: $primary_shade;
      border-color: $primary_shade;
    }
  }
  &_light {
    // padding: 17px 34px;
    color: $primary;
    border-color: $primary;
    background-color: transparent;
    transition-property: border-color, background-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    &:focus:focus-visible {
      background-color: $primary_light;
      border-color: $primary_shade;
    }
    &:hover{
      background-color: $primary;
      color: $white;
    }
    &:active{
      background-color: $primary_shade;
      border-color: $primary_shade;
    }
  }
}

// Круглая кнопка со стрелкой

.btn-round {
  @include flex-all-center;
  
  width: 32px;
  height: 32px;
  border: 2px solid $primary;
  border-radius: 50%;
  background-color: transparent;
  color: $primary;
  transition-property: background-color, color, border-color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  & svg {
      // color: $primary;
      height: 12px;
      width: 7px;
  }
  &:hover {
      background-color: $primary;
      color: $white;
      & svg {
      }
      &~input {
          background-color: $md_grey;
      }
  }
  &:focus.focus-visible {
      background-color: $primary-light;
      border-color: $primary;
      color: $white;
      &~input {
          border-color: $primary;
          background-color: $pink_light;
      }
  }
  &:active {
      background-color: $primary_shade;
      border-color: $primary_shade;
      color: $white;
      &~input {
          border-color: $grey_light;
          background-color: $grey_light;
      }
      &~.search__icon{
          color: $primary;
      }
  }
}


.menu {
  // @include flex-v-center;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 20px 4.58vw;
  @media (max-width: 1280px) {
      gap: 20px 3.7vw;
  }
  @media (max-width: 1023px) {
      font-size: 14px;
      line-height: 100%;
  }
  // .menu__item
  &__item {
      position: relative;
      padding: 5px 2px;
      transition: color ease-in-out 0.3s;
      @media (max-width: 1023px) {
          margin-bottom: 35px;
      }
  }
  &__item:not(:last-child) {
      // margin-right: 4.58vw;
  }
  // .menu__link
  &__link {
      position: relative;
      &::after {
          content: "";
          position: absolute;
          z-index: 4;
          top: 0;
          left: -10px;
          bottom: 0;
          right: -10px;
          background-color: $pink_violet;
          opacity: 0;
          transition: opacity ease-in-out 0.3s;
      }
      & span {
          position: relative;
          z-index: 5;
      }
      &:hover {
          color: $primary;
      }
      &:focus.focus-visible {
          color: $black;
          &::after {
              opacity: 1;
          }
      }
      &:active {
          color: $primary_shade;
          &::after {
              opacity: 0;
          }
      }
  }
}

// Свайпер
.swiper-pagination-bullets {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  background-color: transparent;
  opacity: 1;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}

.controls-slider-special {
  // .controls-slider-special__arrows
  &__arrows {
  }
}
.slider-arrows {
  // .slider-arrows__btn
  &__btn {
    // .slider-arrows__btn_prev
    &_prev {
      transform: rotate(180deg);
    }
    // .slider-arrows__btn_next
    &_next {
    }
  }
}

.swiper-button-disabled {
  color: $grey;
  border-color: $grey;
  pointer-events: none;
}
.swiper-button-disabled:hover {
  background-color: transparent;
  color: $grey;
}

// Общие стили

.heading {
  font-size: 32px;
  line-height: 100%;
  @media (max-width: 680px) {
    font-size: 24px;
  }
}

// Соцсети
.social {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 20px;
  // .social__item
  &__item {
    width: 30px;
    height: 30px;
    // &:not(:last-child) {
    //   margin-right: 20px;
    // }
  }
  // .social__link
  &__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: $grey;
    transition: color ease-in-out 0.3s;
    &:focus {
      color: $white;
    }
    &:hover {
      color: $primary;
    }
    &:active {
      color: $primary_shade;
    }
  }
  // .social__icon
  &__icon {
    width: 100%;
    height: 100%;
    color: inherit;
    fill: currentColor;
  }
}

// Карточка товара
.product-card {
  display: grid;
  grid-template-rows: 162px 1fr;
  gap: 16px;
  justify-items: stretch;
  position: relative;
  padding: 30px 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: $grey_light;
  border-radius: 10px;
  @media (max-width: 510px) {
    grid-template-rows: 74px 1fr;
    padding: 16px;
  }
  &_special {
    grid-template-rows: 255px 1fr;
    padding: 28px 10px;
    height: 100%;

    @media (max-width: 510px) {
      grid-template-rows: 252px 1fr;
      padding: 30px 10px;
    }
  }
  &_hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
  }
  &__rating {
    position: absolute;
    top: 30px;
    left: 30px;
    padding-left: 22px;
    font-size: 16px;
    line-height: 130%;
    color: $secondary;
    background-size: 16px 16px;
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url("../img/star.svg");
    @media (max-width: 510px) {
      top: 16px;
      left: 16px;
      font-size: 12px;
      background-size: 13px 12px;
  }
  }
  &__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &_middle {
      @media (max-width: 1024px) {
        padding: 0 10px;
        & img {
          height: 100%;
          object-position: center 73%;
        }
      }
    }
    & img {
      object-fit: contain;
      object-position: bottom;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    justify-content: flex-end;
    padding: 0 20px;
    // padding-top: 18px;
    @media (max-width: 510px) {
      padding: 0;
    }
    &_special {
      @media (max-width: 510px) {
        padding-left: 19px;
      }
    }
  }
  &__title {
    @include hover;

    // margin-bottom: 22px;
    margin-bottom: auto;
    padding-bottom: 22px;
    max-width: 227px;
    font-size: 24px;
    line-height: 130%;
    color: $black;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    //   border-radius: 10px;
    // }
    @media (max-width: 510px) {
      margin-bottom: 19px;
      font-size: 16px;
    }
    &_special {
      max-width: 225px;
      @media (max-width: 510px) {
        max-width: 90%;
        font-size: 24px;
      }
    }
  }
  // &__footer {
  //   display: flex;
  //   justify-self: stretch;
  // }
  &__prices {
    justify-self: flex-start;
    display: flex;
    // margin-bottom: auto;
    // padding-top: 2px;
    padding-bottom: 24px;
    max-width: 225px;
    @media (max-width: 510px) {
      padding-bottom: 12px;
    }
    &_special {
      @media (max-width: 510px) {
        padding-bottom: 22px;
      }
    }
  }
  &__price {
    font-size: 16px;
    line-height: 130%;
    color: $grey_shade;
    &:not(:last-child) {
      margin-right: 33px;
    }
    &_old {
      padding-top: 2px;
      font-size: 16px;
      text-decoration-line: line-through;
      color: $grey;
    }
    &_special{
      font-size: 18px;
      line-height: 130%;
      color: $secondary;
    }

    &_accent {
      font-size: 18px;
      line-height: 130%;
      color: $secondary;
    }
  }
  &__scheme {
    position: absolute;
    bottom: 30px;
    right: 30px;
    max-width: calc(50% - 30px);
    @media (max-width: 1024px) {
      display: none;
      visibility: hidden;
    }
    & img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
      object-position: bottom right;
    }
  }
  &__btn {
    position: relative;
    z-index: 5;
    align-self: start;
    padding: 17px 32px;
    @media (max-width: 510px) {
      padding: 10px 22px;
    }
    &_special {
      @media (max-width: 510px) {
        padding: 17px 32px;
      }
    }
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;bottom: 0;left: 0;right: 0;
    // }
  }
}

.discount {
  position: absolute;
  left: 0px;
  top: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  min-height: 34px;
  min-width: 82px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  // text-align: center;
  color: $white;
  background-color: $secondary;
  &:after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      right: -11.55%;
      border-top: 17px solid transparent;
      border-bottom: 17.5px solid transparent;
      border-left: 10px solid $secondary;
  }
}

.link-catalog {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: $primary;
  & span {
      display: inline-block;
      margin-right: 6px;
      color: $primary;
      border-bottom: 2px solid transparent;
      transition-property: color, border-color;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
  }
  & svg {
      padding: 4px;
      width: 22px;
      height: 22px;
      color: $primary;
      border: 2px solid $primary;
      border-radius: 50%;
      transition-property: background-color, color, border-color;
      transition-timing-function: ease-in-out;
      transition-duration: 0.3s;
  }
  &:hover {
      & span {
      border-color: $primary;
      }
      & svg {
          background-color: $primary;
          color: $white;
      } 
  }
  &:focus:focus-visible {
      & span {
          border-color: $primary;
      }
      & svg {
          background-color: $primary-light;
          color: $white;
      }
  }
  &:active {
      & span {
          color: $primary_shade;
          border-color: $primary_shade;
      }
      & svg {
          border-color: $primary_shade;
          background-color: $primary_shade;
          color: $white;
      } 
  }

}
.just-validate-tooltip-container {
  position: relative;
}
.just-validate-error-label {
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  height: 16px;
  padding: 0 18px;
  font-size: 12px;
  line-height: 16px;
  color: $red_input !important;
}

.contact-form__checkbox .just-validate-error-label {
  top: calc(100% + 5px);
}

.is-invalid {
  border-color: $red_input;
}

.is-valid {
  border-color: $green_input !important;
}


// Тултип

.tooltip {
  display: inline-block;
  position: relative;
  &__icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    color: $secondary;
    transition: color ease-in-out 0.3s;
    &::before {
      content: "112";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 14px;
      height: 14px;
      border: 2px solid $secondary;
    }
    &:focus {
      color: $white;
      background-color: $secondary;
    }
    &:hover {
      color: $white;
      background-color: $secondary;
      border-color: $secondary;
    }
    &:active {
      color: $white;
      background-color: $secondary;
    }
    &:hover+.tooltip__text{
      opacity: 1;
      visibility: visible;
    }
  }
  &__text {
    $tooltip-width: 157px;
    $tooltip-arrow-width: 16px;
    $tooltip-margin-bottom: 5px;

    position: absolute;
    left: calc(-1 * $tooltip-width / 2 + ($tooltip-arrow-width / 2));
    bottom: calc(100% + ($tooltip-arrow-width / 2) + $tooltip-margin-bottom);
    width: $tooltip-width;
    padding: $tooltip-margin-bottom;
    // transform: translateX(-50%);
    font-size: 9px;
    line-height: 14px;
    color: $white;
    background-color: $black;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    &::after{
      content: "";
      position: absolute;
      left: calc(50% - ($tooltip-arrow-width / 2)) ;
      bottom: calc(-1 * ($tooltip-arrow-width / 2));
      border-top: calc($tooltip-arrow-width / 2) solid $black;
      border-right: calc($tooltip-arrow-width / 2) solid transparent;
      border-left: calc($tooltip-arrow-width / 2) solid transparent;
    }
  }
}


// Стилизация карты

[class*="ymaps"] {
  box-sizing: border-box !important;
}

[class*="-copyrights-pane"] {
  display: none;
}


[class*="-balloon_layout_normal"], [class*="-balloon_layout_panel1"] {
  left: calc(-1 * 343px / 2) !important;
  top: unset !important;
  bottom: 27px;
  width: 343px;
  height: auto;
  box-shadow: 0 10px 0 0 rgb(0 0 0 / 25%) !important;
  @media (max-width: 510px) {
    left: calc(-1 * 232px / 2) !important;
    width: 232px !important;
  }
}
[class*="-balloon_layout"] {
  // padding: 30px !important;
  border-radius: 10px;
  height: auto;
}
[class*="-balloon__layout"] {
  border-radius: 10px;

}

[class*="-balloon"] [class*="-balloon__content"] {
  margin: 0 !important;
  padding: 30px !important;
  width: 100% !important;
  height: auto !important;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  @media (max-width: 510px) {
    padding: 24px 20px 20px !important;
    width: 100% !important;
    
  }
}

[class*="-balloon"] [class*="-balloon__content"] ymaps {
  width: 100% !important;
  display: flex !important;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto !important;
  border-radius: 10px;
}

[class*="-balloon"] [class*="-balloon__tail"] {
  left: calc(50% - 10px) !important;
}

[class*="-balloon"] [class*="-balloon__close"] {
  top: 20px;
  right: 20px;
  background-size: contain !important;
  transition: opacity ease-in-out 0.3s;
}

[class*="-balloon"] [class*="-balloon__close"]:focus [class*="-balloon__close-button"] {
  top: 20px;
  right: 20px;
}

[class*="-balloon"] [class*="-balloon__close"]:active {
  top: 20px;
  right: 20px;
}

[class*="-balloon"] [class*="-balloon__close-button"] {
  width: 12px;
  height: 12px;
  color: $grey;
}
[class*="-balloon"] [class*="-balloon__close-button"]:hover  {
  color: $primary;
}


.balloon {
  width: 343px;
  height: 384px;
  background-color: $bone;
  padding: 30px;
}
.balloon__header {
  margin-bottom: 13px;
}

.balloon__heading{
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: $black;
  @media (max-width: 510px) {
    font-size: 14px;
    line-height: 19px;
  }
}
.balloon__address {
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 180%;
  @media (max-width: 510px) {
    font-size: 12px;
    line-height: 16px;
  }
}

.balloon__content {
  margin-bottom: 9px;
  padding: 12px 0;
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
  @media (max-width: 510px) {
    font-size: 12px;
    line-height: 180%;
  }
}
.balloon__name{
  font-size: 14px;
  line-height: 180%;
  color: $grey;
  @media (max-width: 510px) {
    font-size: 12px;
    line-height: 140%;
  }
}
.balloon__call {
  @media (max-width: 510px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }
}
.balloon__value {
  font-size: 14px;
  line-height: 180%;
  color: $black;
  @media (max-width: 510px) {
    font-size: 12px;
    line-height: 140%;
  }
}

.burger {
  @include btn_reset;
  
  position: relative;
  width: 24px;
  height: 24px;
  & span {
    position: absolute;
    right: 0;
    left: 0;
    height: 3px;
    border-radius: 4px;
    background-color: $primary;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    &:first-child {
      top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      bottom: 0;
    }
  }
  &_active {
    z-index: 501;
    & span:first-child {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
      width: 110% !important;
    }
    & span:nth-child(2) {
      transform: scale(0);
    }
    & span:last-child {
      transform: rotate(45deg);
      top: calc(50% - 1px);
      width: 110% !important;
    }
  }
}

.burger-menu {
  display: none;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 109px);
  background-color: $white;
  border-top: 1px solid $grey_light;
  &__content {
    margin-top: 86px;
    margin-bottom: 28px;
    height: calc(100% - 86px - 28px);
    overflow: auto;
    // padding-top: 86px;
    // padding-bottom: 28px;
  }
  &__wrapper {
    background-color: $grey_light;
  }
  &__menu {
    @media (max-width: 1023px) {
      display: inline-block;
      columns: 2;
      column-width: auto;
      font-size: 16px;
      line-height: 22px;
      gap: 0;
      & .menu__item {
        margin-bottom: 31px;
      }
      // & .menu__item:last-child {
      //   margin-bottom: 21px;
      // }
      @media (max-width: 510px) {
        // padding-top: 60px;
        // padding-bottom: 0;
        columns: 1;
        // & .menu__item {
        //   margin-bottom: 31px;
        // }
        & .menu__item:last-child {
          margin-bottom: 21px;
        }
      }
    }
  }
  &__submenu {
    display: none !important;
    visibility: hidden;
    @media (max-width: 510px) {
      display: grid !important;
      visibility: visible;
      padding-top: 18px;
      padding-bottom: 18px;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px 32px;
      
    }
  }
}

._flyImage {
  opacity: 1;
  position: fixed;
  z-index: 1000;
  transition: all 0.8s ease-in-out 0s !important;
}

.cart-container {
  // overflow-y: auto;
  // overflow-x: hidden;
  max-height: 200px;
  z-index: 1000;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px;
  width: 300px;
  background-color: $grey_shade;
  border: 1px solid $grey_light;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);  
  transform: translate(0, 20px);
  &_active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}

.cart-list {
  &__item {
    display: flex;
    align-items:flex-start;
    color: $white;
  }
  &__image {
    flex: 0 0 100px;
    padding: 5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 5px;
  }
  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 10px;
  }
  
  &__title {
    color: #ccc;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
    margin-bottom: calc(5/16 * 1em);
    &:hover {
      color: var(--primary-hover-color);
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__quantity {
    font-size: 14px;
    margin-bottom: calc(5/14 * 1em);
  }
  &__delete {
    font-size: 14px;
    text-decoration: underline;
    color: tomato;
  }
}