$container-max-width: 1280px;
$gap: 32px;

$primary: #A65CF0;
$primary_shade: #7033AC;
$primary_light:#C998FB;
$pink_light: #F8EFFF;
$pink_violet: #EBD1FF;
$secondary: #FF862F;
$secondary_light: #FFBD59;
$secondary_shade: #BB370E;
$red_input: #FF6972;
$green_input:#B8EC64;
$gold: #D5B986;
$white: #FFFFFF;
$grey_light: #F7F7F7;
// $grey_light: red;

$md_grey: #EAEAEA;
$grey: #999999;
$grey_shade: #666666;
$black: #333333;
$lime_color: #DAFFD1;
$bone: #FFF5D1;

@media (max-width: 510px) {
    $gap: 16px;
}